
.header {
  background-image: url("../images/AdobeStock_258790078.jpeg");
  background-size: cover;
  height: 10em;
  margin-bottom: 1em;
  .row {
    padding: 2em;
    .text {
      height: 6em;
      text-shadow: 0px 0px 3px #000000;
    }
  }
}
hr {
    border-top: 2px solid #333;
}
.track-list-item {
	text-align: left;
	font-size: 0.7em;
}
.timestamp {
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: 200;
	width: 50px;
	display: inline-block;
}
.track-details {
	display: inline-block;
}
.track-name {
  font-weight: 700;
	white-space: nowrap;
}
.artist-name {
	white-space: nowrap;
}
body {
	background-color: #111111;
}

.modal-content, .list-group-item {
	background-color: #000000;
	
}
* {
	color: #F0F0F0;
}

.email-label {
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: 200;
	width: 80px;
	display: inline-block;
}
