/* CSS Document */

.track-list-item {
	text-align: left;
	font-size: 0.7em;
}
.timestamp {
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: 200;
	width: 50px;
	display: inline-block;
}
.track-details {
	display: inline-block;
}
.track-name {
  font-weight: 700;
	white-space: nowrap;
}
.artist-name {
	white-space: nowrap;
}
body {
	background-color: #242424;
}

.modal-content, .list-group-item {
	background-color: #000000;
	
}
* {
	color: #C4C4C4;
}

.jumbotron {
	background-color: #000000;
}